name: Build Minimal WSA

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y python3 python3-venv python3-pip aria2 unzip p7zip-full

      - name: Run builder
        working-directory: scripts
        run: |
          chmod +x build.sh
          ./build.sh --arch x64 --release-type retail --root-sol none --remove-amazon --compress-format 7z

      - name: Upload output
        uses: actions/upload-artifact@v4
        with:
          name: WSA-Minimal
          path: output/
